li {
	border: solid 2px black;
	text-decoration: none;


	margin: 2px;
	padding: 2px;
}

ul li:nth-child(odd) {
	background-color: lightblue;
}

ul li:hover {
	background-color: lightgray;
}

ul li:nth-child(odd):hover {
	background-color: #76bdd5;
}

ul li.checked {
	background-color: black;
}